.header {
  &-logo{
    // width: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    // padding-rit: -5%;
  }
  &-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-account{
     &-content{
      //  display: none;
      span{
        transition: all 0.1s ease-in;
        cursor: pointer;
        // color: rgb(77, 77, 77);
        font-size: 1.1rem;
        
        &:hover{
          color: gray;
        }
      }
     }
      img{
        width: 2.5rem;
        cursor: pointer;
        
      }
      
      
    }
  }
  width: 100%;
  overflow: hidden;
  &-headline {
    margin-top: 20px;
    height: 30px;
    overflow: hidden !important;
    // background-color: rgba(105, 109, 109, 0.295);
    // border-top: 1px solid black;
    // border-bottom: 1px solid black;
    h4{
      overflow: hidden;
      font-size: 1rem;
      color: inherit;
      width: max-content;
      line-height: 30px;
      text-align: center;
      animation: heading 180s linear infinite;
      span{
        padding: 10px;
        background-color: black;
        color: white;
      }
      &:hover{
        animation-play-state: paused;
      }
      a {
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        border-left: 1px solid black;
        margin: 0px 5px;
        padding-left: 10px;
        &:hover{
          animation-play-state: paused;
          color: rgb(9, 130, 236);
        }
      }
    }
    overflow: hidden;
    
  }
  @keyframes heading {
    0% {
      transform: translateX(12%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  // &-name{
  //   // h4{
  //   //   font-weight: 500;
  //   //   &:not(:first-child){
  //   //     // padding-left: 20px;
  //   //   }
  //   // }
  //   // // display: flex;
  //   // padding-right: 10px;
  //   // margin-right: auto;
    
  // }
  &-mini {
    
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    
    
    span {
      cursor: pointer;
      font-size: 1rem;
      color: white;
      // margin-right: 20px;
      &:not(:last-child) {
        // padding-right: 5px;
        border-right: 1px solid white;
      }
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
  &-text {
    // width: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3rem;
    // padding-left: 5%;s

    font-size: 2.5rem;
    font-family: NewTimes;
    span{
      // flex-direction: ;
      font-family: NewTimes;
    }
    &-img{
      display: inline;
      width: 5rem;
      margin-left: -2rem;
    }
   
  }
  &-update-date{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

  }
}
