.home-class{
  min-height: 100vh;
  background-color:rgb(252, 249, 249);


  &-filters{
    
    display: flex;
    padding: 5px;
    background-color: rgb(252, 249, 249);
    justify-content: flex-end;
    border-bottom: 1px solid black;
    &-text--selected{
      cursor: pointer;
      background-color: rgb(29, 41, 44);
      padding: 10px 25px;
      border-radius: 20px;
      border: 1px solid black;
      color: white;
    }
    &-text{
      cursor: pointer;
      border: 1px solid black;
      padding: 10px 25px;
      border-radius: 20px;
    }
  }
}