// white background #ece9e8

.home{
  position: relative;
  background-color: #ece9e8;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(120deg, rgba(18,18,22,1) 50%, rgba(219, 13, 13, 0.322) 99%);

  &--left{
    width: 50%;
    @media (max-width: 850px){
      display: none;
    }
  }
  &--right{
    width: 50%;
    @media (max-width: 850px){
      width: 100%;
    }
    // overflow: hidden;
    position: relative;
    &-error{
      position: absolute;
      padding: 40px 0px;
      box-shadow: 0px 0px 5px 5px rgba(36, 35, 35, 0.534);
      background-color: black;
      color: rgb(211, 211, 211);
      width: 100%;
      text-align: center;
    }
    height: 100vh;
    box-shadow: 3px 3px 5px 10px rgba(5, 5, 5, 0.308);
    background-image: linear-gradient(to right bottom, #c2c2c2,#f3f2f2);
    // background-color: #f3f2f2;
    
  }

}