.brodcaster{
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding-bottom: 20px;
  span{
    font-size: 1.2rem;
  }
  @media(max-width: 700px){
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    Span{
      padding-bottom: 10px;
      font-weight: 600;
    }
  }
}

.content{
  &-view{
    &-card{
      &-text{
        position: absolute;
        width: 95%;
        text-align: center;
        margin-top: 30px;
        color:rgb(8, 119, 184);
        cursor: pointer;
      }
      &-news{
        padding-top: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 2%;
        @media(max-width: 700px) {
          grid-template-columns: auto auto;
        }
        a{
          text-decoration: none;
          color: inherit;
          font-size: 1.1rem;
          &:hover{
            color: rgb(8, 119, 184);
            text-decoration: underline;
          }
          img{
            padding: 10px 0px;
          }
        }
        
      }
    }
    
  }
}
.Card{
  display: grid;
  // padding-bottom: 90px;
  grid-template-columns: 55% 21% 21%;
  // grid-template-rows: repeat(3,  250px);
  column-gap: 1.5%;
 @media(max-width: 1070px){
  grid-template-columns: 65% 30%;
  // column-gap: 5%;
  row-gap: 1%
 }
 @media(max-width: 970px){
  grid-template-columns: 98%;
  // grid-template-rows: 60% 20%;
  row-gap: 1%;
  // column-gap: 5%;
 }
 @media(max-width: 700px){
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  row-gap: 0%;
  // grid-template-rows: auto auto auto;
  // column-gap: 5%;
  // row-gap: 4%
 }
 &-ul{
  //  width: inherit;
  list-style: none;
  li{
    &:not(:first-child){
      padding-top: 10px;
    }
    a{
      display: flex;
      span{
        padding-left: 10px;
        font-weight: 600;
        &:hover{
          color: rgb(8, 119, 184);
          text-decoration: underline;
        }
      }
    }
    font-size: 0.9rem;
    img{
      width: 90px;
    }
  }

}
    a{
    text-decoration: none;
    color: inherit;
    h4,h2{
       &:hover{
        
      color: rgb(8, 119, 184);
      text-decoration: underline;
    }
    }
   
  }
  &-paragraph{
    img{
      width: 100%;
    }
    h4{
      padding-bottom: 5px;
      @media(max-width: 1070px){
        padding-top: 5px;
        font-size: 1.1rem;
    }
  }
    p{
      padding-bottom: 15px;
    }
  }
  &-main{
   
    width: inherit;
    &-1{
      &-cnn{
        a{
          h4{
            
            margin-bottom: 5px;
          }
        }
      }
      display: grid;
      row-gap: 5%;
      @media(max-width: 970px){
        row-gap: 1%;
      }
      @media(max-width: 1070px){
        row-gap: 1%;
      }
      @media(max-width: 700px){
        row-gap: 1%;
      }
      &-hero{
        &-container{
          display: flex;
          justify-content: space-between;
          @media(max-width: 700px){
            flex-direction: column;
            font-size: 1.3rem;
          }
          &-text{
            &-anchor{
            padding-bottom: 10px;
          }
          }
          
        }
        img{
          height: 250px;
          padding-left: 5px;
          @media(max-width: 700px){
            padding-top: 10px;
            width: 100%;
            height: auto;
            padding-left: 0px;
          }
          // width: 98%;
        }
      }
      &-content{
        display: grid;
        // row-gap: 5%;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2%;
        @media(max-width: 700px){
          grid-template-columns: repeat(2,1fr);
          // row-gap: 1%;
        }
      }
    }
    &-2{
      width: inherit;
      display: grid;
      // row-gap: 5%;
      @media(max-width: 970px){
        // row-gap: 1%;
        width: 100%;
        img{
          width: 100%;
        }
        grid-template-columns: 20% 80%;
        @media(max-width: 700px){
          grid-template-columns: 98%;
          // row-gap: 1%;
          // padding-top: 20px;
        }
        ul{
  
          display: grid;
          grid-template-columns: repeat(4,1fr);
          @media(max-width: 700px){
            grid-template-columns: repeat(2,1fr);
            // row-gap: 4%;
          }
          
          li{
            &:not(:first-child){
              padding-top: 0px;
            }
            a{
              display: flex;
              flex-direction: column;
              padding: 0px 5px;
              
              span{
                padding-left: 0px;
                font-weight: 600;
                padding-top: 10px;
                padding-bottom: 10px;
                &:hover{
                  color: rgb(8, 119, 184);
                  text-decoration: underline;
                }
              }
            }
            font-size: 1.1rem;
            
              img{
                width: 100%;
                
              }
            
          }
        }
        p{
          display: none;
          @media(max-width: 700px) {
            display: block;
          }
        }
       
       }
    }
    &-3{
      width: inherit;
      display: grid;
      // row-gap: 5%;
      @media(max-width: 1070px){
        // row-gap: 1%;
        // width: 100vw;
        img{
          width: 100%;
        }
        grid-template-columns: 20% 80%;
        @media(max-width: 700px){
          grid-template-columns: 100%;
          // row-gap: 2%;
          //  column-gap: 2%;
        }
       
        ul{
          display: grid;
          grid-template-columns: repeat(4,1fr);
          @media(max-width: 700px){
            grid-template-columns: repeat(2,1fr);
          }
          
          li{
            &:not(:first-child){
              padding-top: 0px;
            }
            a{
              display: flex;
              flex-direction: column;
              padding: 0px 5px;
              span{
                padding-left: 0px;
                font-weight: 600;
                padding-top: 10px;
                padding-bottom: 10px;
                &:hover{
                  color: rgb(8, 119, 184);
                  text-decoration: underline;
                }
              }
             

            }
            font-size: 1.1rem;
            
              img{
                width: 100%;
                
              }
            
          }
        }
        p{
          display: none;
          @media(max-width: 700px) {
            display: block;
          }
        }
       
       }
      
    }
  }

 

  
}











